@import 'tailwindcss';

@theme {
  --font-sans: var(--font-geist-sans), system-ui, -apple-system, sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
}

body {
  font-family:
    var(--font-geist-sans),
    system-ui,
    -apple-system,
    sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
}
